{% extends 'layout.html'%}

{%block content%}

<div class="container">
  <h2 class="text-center mt-3" >Demand for shared bikes estimator</h2>
  <h4 class="text-center mt-3" >A bike-sharing system is a service in which bikes are made available for shared use to individuals on a short term basis for a price or free. Many bike share systems
    allow people to borrow a bike from a "dock" which is usually computer-controlled
    wherein the user enters the payment information, and the system unlocks it. This
    bike can then be returned to another dock belonging to the same system.
    A US bike-sharing provider BoomBikes has recently su ered considerable dips in
    their revenues due to the ongoing Corona pandemic. The company is finding it very dificult to sustain in the current market scenario. So, it has decided to come up with
    a mindful business plan to be able to accelerate its revenue as soon as the ongoing
    lockdown comes to an end, and the economy restores to a healthy state.
    In such an attempt, BoomBikes aspires to understand the demand for shared bikes
    among the people after this ongoing quarantine situation ends across the nation due
    to Covid-19. They have planned this to prepare themselves to cater to the people's
    needs once the situation gets better all around and stand out from other service
    providers and make huge pro ts.</h4>

  <form action="/bike_sharing" method="POST">

    <div class="form-group"></di>
      <label for="year">Select Year</label>
      <select class="form-select custom-select" name="year" id="year">
        <!-- <option selected>Open this select menu</option> -->
        <option value="1">2019</option>
        <option value="0">2018</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="temperature" class="form-label">Temperature</label>
      <input type="text" class="form-control" id="temperature" name="temperature" placeholder="Enter Temperature">
    </div>
    
    <div class="mb-3">
      <label for="windspeed" class="form-label">Windspeed</label>
      <input type="text" class="form-control" id="windspeed" name="windspeed" placeholder="Enter Windspeed">
    </div>

    
    <div class="form-group">
      <label for="Sep">Select Month</label>
      <select class="form-select custom-select" name="Sep" id="Sep">
        <!-- <option selected>Open this select menu</option> -->
        <option value="1">September</option>
        <option value="0">Other</option>
      </select>
    </div>

    <div class="form-group"></di>
      <label for="Sun">Select WeekDay</label>
      <select class="form-select custom-select" name="Sun" id="Sun">
        <!-- <option selected>Open this select menu</option> -->
        <option value="1">Sunday</option>
        <option value="0">Other</option>
      </select>
    </div>

    <div class="form-group"></di>
      <label for="Season">Select Season</label>
      <select class="form-select custom-select" name="Season" id="Season">
        <!-- <option selected>Open this select menu</option> -->
        <option value="1">Spring</option>
        <option value="2">Summer</option>
        <option value="3">Winter</option>
        <option value="4">Fall</option>
      </select>
    </div>

    <div class="form-group"></di>
      <label for="Weather">Select Weather</label>
      <select class="form-select custom-select" name="Weather" id="Weather">
        <!-- <option selected>Open this select menu</option> -->
        <option value="1">Cloudy</option>
        <option value="2">Light Precipitation</option>
        <option value="3">Other</option>
      </select>
    </div>

    <div class="form-group"></di>
      <label for="Day">Day</label>
      <select class="form-select custom-select" name="Day" id="Day">
        <!-- <option selected>Open this select menu</option> -->
        <option value="1">Holiday</option>
        <option value="0">Working Day</option>
      </select>
    </div>

    <!-- # ['2019', 'temp', 'windspeed', 'Sep', 'Sun', 'Spring', 'Summer', 'Winter', 'Cloudy', 'Light precipitation', 'holiday'] -->
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

{%endblock content%}
