{% extends 'layout.html'%}

{%block content%}

<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title">Contact Details</h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Mobile No.</h6> -->
    <p class="card-text">Mobile no.: +91 8821822717, +91 7828285389</p>
    <p class="card-text">Email ID: jobsfortuhin@gmail.com</p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>

{%endblock content%}

    

