{% extends 'layout.html'%}

{%block content%}

<div id="homepage">
  <div class="container" id='skills'>
    <h1><u>Skills</h1></u>
    <ol>
      <li><u>Machine Learning, Natural Language Processing, Deep Learning</li></u>
        <p>Performed various real-world projects which have been provided in the Projects section. I am proficient in ML technologies like Supervised, Unsupervised and Reinforcement learnings.</p>
      <li><u>Data Science</li></u>
        <p>Expertise in data handling and manipulation and Data
          analysis</p>
      <li><u>Python</li></u>
          <ul>Advanced Python
            <!-- <li>Advanced Python -->
              <ul>
                <li>Data Science and ML libraries like pandas, numpy, scipy, matplotlib, seaborn, plotly, sklearn, statsmodels, etc.</li>
                <li>Wb frameworks like Flask, Django</li>
              </ul>
            </ul>
            <br>  
      <li><u>R Programming Language</li></u>      
      <li><u>Database design and management</li></u>
          <p>MySQL</p>
      <li>MS Excel and Libreoffice Calc</li>
      <li>Git</li>
      <li><u>Proficient in GNU/Linux</li></u>
        <p>Debian and RHEL based distros</p>     
    </ol> 
  </div>


  <div class="container" id='experience'>
    <h1><u>Professional Experience</h1></u>
    <ol>
      <li>Process Engineer at Exhaust Technology Pvt. Ltd. | Jan 2020 to Date</li>   
      <ul>
        <li>Responsible for performing Statistical Process Control (SPC) analysis which aided inreducing up to 23 percent of scrap and reducing the frequency of manual inspection from 100 percent to around 60 percent.</li>
        <li>Performed Failure Mode Effective (FMEA) analysis that reduced customer end product failure by around 17 percent.</li>
        <li>Lead a team of 6 to maintain optimum quality standard at each production sites, maintaining numerous quality checkpoints like CLITA, first piece approval, operation parameters, etc.</li>
      </ul>
      <br>
      <li>Trainee Engineer at R & G Engineering | July 2019 to Dec 2019</li>
    </ol> 
  </div>


  <div class="container" id='edu_train'>
    <h1><u>Educational qualification and other certificates</h1></u>
      <ul>
        <li>
          <b>Post Graduation Certification in ML, AI, and DL</b> <br>
          from IIIT Bangalore through Upgrad <br>
          Mar 2021 to Date
        </li>
        <br>
        <li>
          <b>Bachelor of Engineering</b> <br>
          in Mechanical Engineering from NRI Institute of Information Science and
          Technology <br>
          June 2015 - June 2019
        </li>
      </ul>
    
  </div>
</div>

{%endblock content%}

