/* *{
    background-color: rgb(219, 143, 44);
} */

.mt-3{
    color: rgb(172, 40, 58);
}

#homepage{
    color: rgb(42, 122, 39);
    background-color: rgb(195, 195, 211);
}

/* #skills{
    color: rgb(42, 122, 39);
    background-color: rgb(160, 160, 221);
}

#experience{
    color: rgb(42, 122, 39);
    background-color: rgb(160, 160, 221);
}

#edu_train{
    color: rgb(42, 122, 39);
    background-color: rgb(160, 160, 221);
} */